{% extends 'base.html.twig' %}

{% block title %}Tijobal-app{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 300px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{ controller_name }}</h1>
        {# <h1>Hello {{ controller_name }}! ✅</h1> #}

        <ul>
            {# <li>Your controller at <code><a href="{{ '/home/servir/InWeb/Proyectos/tijobal/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li> #}
            {# <li>Your template at <code><a href="{{ '/home/servir/InWeb/Proyectos/tijobal/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li> #}
        </ul>
    </div>
{% endblock %}
