{% extends 'base.html.twig' %}

{% block title %}Institución{% endblock %}

{% block body %}
    <h1>Institución</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre institución</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
        {% for institucion in institucions %}
            <tr>
                <td>{{ institucion.codigo }}</td>
                <td>{{ institucion.nombreComercial }}</td>
                <td>
                    <a href="{{ path('institucion_show', {'id': institucion.id}) }}">show</a>
                    <a href="{{ path('institucion_edit', {'id': institucion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Sin registros encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('institucion_new') }}">Nueva institución</a>
{% endblock %}
