{% extends 'base.html.twig' %}

{% block title %}Institucion{% endblock %}

{% block body %}
    <h1>Institucion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ institucion.id }}</td>
            </tr>
            <tr>
                <th>RazonSocial</th>
                <td>{{ institucion.razonSocial }}</td>
            </tr>
            <tr>
                <th>NombreComercial</th>
                <td>{{ institucion.nombreComercial }}</td>
            </tr>
            <tr>
                <th>TipoIdentificacion</th>
                <td>{{ institucion.tipoIdentificacion }}</td>
            </tr>
            <tr>
                <th>FechaFundacion</th>
                <td>{{ institucion.fechaFundacion ? institucion.fechaFundacion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ institucion.direccion }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ institucion.activo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreateTime</th>
                <td>{{ institucion.createTime ? institucion.createTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('institucion_index') }}">back to list</a>

    <a href="{{ path('institucion_edit', {'id': institucion.id}) }}">edit</a>

    {{ include('institucion/_delete_form.html.twig') }}
{% endblock %}
