{% extends 'base.html.twig' %}

{% block title %}Colaborador{% endblock %}

{% block body %}
    <h1>Colaborador</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Activo</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for colaborador in colaboradors %}
            <tr>
                <td>{{ colaborador.codigo }}</td>
                <td>{{ colaborador.primerNombre }} {{ colaborador.segundoNombre }}</td>
                <td>{{ colaborador.primerApellido }} {{ colaborador.segundoApellido }}</td>
                <td>{{ colaborador.activo ? 'Yes' : 'No' }}</td>
                <td>{{ colaborador.email }}</td>
                <td>
                    <a href="{{ path('colaborador_show', {'id': colaborador.id}) }}">show</a>
                    <a href="{{ path('colaborador_edit', {'id': colaborador.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Sin registros encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('colaborador_new') }}">Nuevo colaborador</a>
{% endblock %}
