{% extends 'base.html.twig' %}

{% block title %}Colaborador{% endblock %}

{% block body %}
    <h1>Crear nuevo colaborador</h1>

    {{ include('colaborador/_form.html.twig') }}

    <a href="{{ path('colaborador_index') }}">Regresar a la lista</a>
{% endblock %}
