{% extends 'base.html.twig' %}

{% block title %}Colaborador{% endblock %}

{% block body %}
    <h1>Colaborador</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ colaborador.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ colaborador.codigo }}</td>
            </tr>
            <tr>
                <th>PrimerNombre</th>
                <td>{{ colaborador.primerNombre }}</td>
            </tr>
            <tr>
                <th>SegundoNombre</th>
                <td>{{ colaborador.segundoNombre }}</td>
            </tr>
            <tr>
                <th>PrimerApellido</th>
                <td>{{ colaborador.primerApellido }}</td>
            </tr>
            <tr>
                <th>SegundoApellido</th>
                <td>{{ colaborador.segundoApellido }}</td>
            </tr>
            <tr>
                <th>TipoIdentificacion</th>
                <td>{{ colaborador.tipoIdentificacion }}</td>
            </tr>
            <tr>
                <th>FechaNacimiento</th>
                <td>{{ colaborador.fechaNacimiento ? colaborador.fechaNacimiento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ colaborador.activo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ colaborador.email }}</td>
            </tr>
            <tr>
                <th>CreateTime</th>
                <td>{{ colaborador.createTime ? colaborador.createTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('colaborador_index') }}">back to list</a>

    <a href="{{ path('colaborador_edit', {'id': colaborador.id}) }}">edit</a>

    {{ include('colaborador/_delete_form.html.twig') }}
{% endblock %}
