
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}Tijobal{% endblock %}
        </title>
        {% block head_css %}
            <link rel="stylesheet" href="{{ asset('build/app.css')}}">
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="{{ url('home') }}">Tijobal</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url('colaborador_index') }}">
                                Colaborador
                            </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url('institucion_index') }}">
                                Institución
                            </a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url('user_index') }}">
                                Usuario
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}

            {% endblock %}
        </div>

        <script src="{{ asset('build/app.js') }}"></script>

        {% block javascrips %}{% endblock %}
    </body>
</html>
